  span{
                            font-family: Arial, Helvetica, sans-serif;
            
                        }
                        .blueColor{
                          color:blue;
                          font-family:arial;
                          font-size:24px;
                      }
                  